
## folders (explicit) ##

/autom4te.cache/
/share/



## files (explicit) ##

/aclocal.m4

/config.log
/config.status
/configure

/libtool

/.autotools
/.cproject



## folders (global) ##
.deps/
.libs/



## files (global) ##

Makefile
Makefile.in

*.o
*.lo
*.la

*~